<div class="l-operations-search-list" >
  
  <div #gridContainer class="grid-container" >    
    <div id="overlayLoading"  class="ag-overlay" style="display: none;" ref="eOverlay">
      <div class="ag-overlay-panel" role="presentation">
        <div class="ag-overlay-wrapper ag-overlay-loading-wrapper" ref="loadingOverlayWrapper">
          <span class="overlayLoadingCenter">Loading<span class="_dots"><span>.</span><span>.</span><span>.</span></span></span>
        </div>
    </div>
    </div>    
      <table id="dataTable" class="table table-striped table-bordered hover" ></table>   
  </div>
</div>